.row-content {
    margin: 0px auto;
    padding: 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}

.nav-color {
    background-color: #285B69;
}

a {
    color: floralwhite;
}

.accent-color {
    background-color: #285B69;
}
.text-primary-color {
    color: floralwhite;
}
.footer {
    background-color: #285B69;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
    color: floralwhite;
}

.carousel {
    background: #285B69;
}

.carousel .carousel-item {
    height: 300px;
}

.carousel .carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}

#map {
    height: auto;
    width: 100%;
}

.navbar-toggler {
    border-color: rgb(255, 255, 255);
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
